body {
    background-color: #2e3440;
    font-family: 'Poppins', sans-serif;
	overflow: auto
    -moz-user-select: none;
}

/* Float four columns side by side */
/* Mudar esta percentagem para a centragem */
.column {
  float: left;
  position: relative;
  left: 16%;
  padding: 10 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/*-------------------------------------------------------*/
/* This part of the code takes care of styling the cards */
/*-------------------------------------------------------*/

.card_title {
    font-size: 35px
}
.card {
    display: flex;
	flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    min-height: 300px;
    width: 200px;
    min-width: 150px;
    padding: 1rem;
    border-radius: 10px;
    background-color: #3b4252;
    box-shadow: -1rem 0 3rem #1b1f26;
    transition: .2s;
}
.card:hover, .card:active {
    transform: translateY(-1rem)
}
.card:hover~.card, .card:active~.card {
    transform: translateX(130px)
}
.card:not(:first-child) {
    margin-left: -130px
}
a:visited, a:link, a:active {
    color: #eceff4;
    height: auto;
    width: auto;
    text-decoration: none;
    font-size: 32px;
    line-height: 0;
}
a:hover {
    text-shadow: 2px 2px 4px #1b1f26;
}
#watch > a:hover {
    color: #bf616a
}
#social > a:hover {
    color: #d08770
}
#dev > a:hover {
    color: #ebcb8b
}
#linux > a:hover {
    color: #a3be8c
}
#email > a:hover {
    color: #b48ead
}
a:hover {
    color: #88c0d0
}

/*Card name styling*/
#w {
    color: #bf616a
}
#s {
    color: #d08770
}
#d {
    color: #ebcb8b
}
#l {
    color: #a3be8c
}
#e {
    color: #b48ead
}

/*---------------------------------------------------------------------------------------------------------*/
/* This part of the code takes care of styling the search engine icons, buttons, input box and go button.  */
/*---------------------------------------------------------------------------------------------------------*/

.search_block {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  transition: box-shadow 0.5s;
}
input {
    color: #eceff4;
    background-color: #3b4252;
    width: 300px;
    text-align: center;
    height: 50px;
    font-size: 20px;
    border: none;
    vertical-align: top;
    outline: none;
}
input:focus::placeholder {
    color: transparent;
}
button {
    width: 50px;
    height: 50px;
    background: #3b4252;
    vertical-align: top;
    border: none;
    color: #97cdfd;
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    background-color: #81a1c1;
    color: #eceff4;
}
.go {
    color: #eceff4;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    
}
.go:hover {
    color: #2e3440;
}
.se_btn {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;  
}
#se_icon {
    width: 24px;
    height: 24px;
}
.filter-white {
    filter: invert(1)
}